<div class="header">
  <h1>Task Manager</h1>
  <%= link_to "New Task", new_task_path, class: "btn btn-primary" %>
</div>

<div id="tasks" class="task-grid">
  <% @tasks.each do |task| %>
    <%= render task %>
  <% end %>
</div>
